* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-animation: backround_rgb 5s linear 0s infinite;
  animation: backround_rgb 5s linear 0s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.main {
  height: min(100vh, calc(100vw * 1.25));
  width: min(100vw, calc(100vh * 0.75));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  row-gap: 5%;
  min-height: 400px;
  padding: 20px;
  min-width: 300px;
}

.screen {
  background-color: aliceblue;
  z-index: 12;
  border-radius: 20px;
  border: 16px ridge rgb(73, 47, 122);
  background-color: rgb(21, 20, 44);
}

.video {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  -webkit-filter: opacity(0.6);
  filter: opacity(0.6);
  margin: 0;
}

.text {
  font-size: 36px;
  -webkit-filter: opacity(0.6);
  filter: opacity(0.6);
  color: rgb(233, 251, 255);
}
.container {
  display: grid;
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 5%;
  justify-items: center;
}

.container > button {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(124, 62, 240);
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 30px;
  font-size: 64px;
  transition: all 0.1s ease;
  border: 5px groove rgb(49, 49, 49);
  z-index: 11;
  box-shadow: 0px 0px 15px 6px rgba(62, 17, 145, 0.445);
  cursor: pointer;
}

.container > button:hover {
  box-shadow: 0px 0px 15px 6px rgba(62, 17, 145, 0.445);
  transform: scale(134.5%);
  border-radius: 35px;
  background-color: rgb(113, 45, 240);
  z-index: 10;
}

.container > button:active {
  transition: all 0.01s ease;
  transform: scale(120%);
  border-radius: 30px;
  background-color: rgb(113, 45, 240);
  box-shadow: 0px 0px 20px 10px rgba(62, 17, 145, 0.5);
  z-index: 10;
}

.pwm-gradient {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-animation: pwm-pulse 0.01s infinite alternate;
  animation: pwm-pulse 0.01s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}
